.container {

    margin: 0 auto;
    width: 1248px;
    // height:54.33px;
}


body {
    margin: 0;
    padding: 0;

    header {
        .top-header {
            width: 100%;
            height: 54.33px;
            padding: 15px 0;
            background-color: white;

            .container {

                .logo {
                    width: 268px;
                    height: 54.33px;
                    padding: 0 24px 0 0;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                }
            }
        }

        .bottom-header {
            .nav {
                width: 100%;
                height: 60.6px;
                background-color: #2260bf;
                color: white;

            }

            .home-page-menu {
                background-color: rgb(3, 105, 143);
                height: 33.6px;
                display: block;
                padding: 15px 20px 12px;
                text-decoration: none;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                
            }
            
            .hot-topics-btm-header {
                width: 100%;
                height: 38px;
                padding: 10px 0;
                background-color: white;
                
                #hot-topics {
                    height: 38px;
                    background-color: purple;
                    display: flex;
                    justify-content: space-between;
                    
                    .hot-topics-link {
                        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                        max-height: 37.2px;
                        line-height: 38px;
                        padding: 6px 15px 2px 42px;
                        background-color: rgb(192, 14, 14);
                    }
                }
            }
        }
    }

    .content-site-content {
        width: 100%;
        height: auto;
        
        
        .advertisement-banner-1 {
            width: 100%;
            height: 148.8px;
            margin: 0 0 30px;
            
            
            
            #ok-container-1{
                text-align: center;
                padding: 24px 0;
                border-top: none !important;
                margin-bottom: 0;
                border-bottom: solid 1px rgba(0, 0, 0, .08);
                width: 100%;
                max-width: 1248px;
                margin: 0 auto;
                
                height: 120px;
                vertical-align: center;
                
                .actual-ad {
                    width: 100%;
                    height: 100%;
                    background-color: yellow;
                    
                }
            }
            
        }
        .first-news {
            text-align: center;
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;
            border-bottom: solid 1px rgba(0, 0, 0, .14);
            max-width: 1248px;
            margin-left: auto;
            margin-right: auto;
            h2 {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                font-size: 68px;
                line-height: 1.4;
                font-family: 'mukta', sans-serif;
                font-weight: 600;
                letter-spacing: 1px;
                margin: 0;
                margin-bottom: 0;
                text-align: center;
                
                a {
                    color: #102c57;
                    text-decoration: none;
                    display: block;
                    transition: all .3s ease;
                    line-height: 1.3;
                }
            }
            
            .ok-title-info {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;
                max-height: 45px;
                margin: 0 0 30px;
                .ok-author{
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                    width:136px;
                    max-width: 136px;
                    height:45px;
                    margin:0 10px;
                    background-color: rgb(115, 27, 27);
                }
                
            }
            
            
                
                .featured-img {
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 600px;
                    max-height: 600px;
                    overflow: hidden;
                    margin-bottom: 15px;
                    border-radius: 6px;
                    background-color: red;
                }
                p{
                    display: block;
                    width:1123.2px;
                    height:110.4px;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
                    font-size: 22px;
                    opacity: .68;
                    font-weight: 400;
                    margin-top: 24px;
                    margin-bottom: 0;
                    max-width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                }
                
            
        }
        
        .advertisement-banner-2 {
            width: 100%;
            height: 148.8px;
            margin: 0 0 15px;
            
            
            
            #ok-container-2{
                text-align: center;
                padding: 24px 0;
                border-top: none !important;
                margin-bottom: 0;
                border-bottom: solid 1px rgba(0, 0, 0, .08);
                width: 100%;
                max-width: 1248px;
                margin: 0 auto;
                
                height: 100px;
                vertical-align: center;
                
                .actual-ad {
                    width: 100%;
                    height: 100%;
                    background-color: yellow;
                    
                }
            }
            
        }

    }
    // #ok-container-3{
    //     height:646.3px;
    //     width:100%;
    //     display: flex;
    //     justify-content: space-between;
    //     .ok-col-left{
    //         flex:2;
    //         padding-right: 30px;
    //         width:918px;
    //         height:566.33px;
    //         background-color: red;
    //         .ok-leftside-col-left{
    //             width:505.5px;
    //             height:596.33px;

    //         }
    //         .ok-rightside-col-right{

    //         }
    //     }
    //     .ok-col-right{
    //         padding-left: 24px;
    //         width:330px;
    //         height:574.33px;
    //         background-color: blue;
    //     }
    // }
}   